@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Poppins:wght@300&display=swap');
*{
margin : 0;
padding: 0;
box-sizing: border-box;
}

html{

    font-family: Lato;
    
    background-color:lightblue ;
}

body {
height: 100vh;
width: 80%;
margin:0 auto;
display: grid;
grid-template-columns: 1fr 15%;
grid-template-rows: 15% 10% 60% 15%;
grid-template-areas: 
'h h'
'n n'
's a'
'f f';
}


header{
background-color: red;
grid-area: h;

border-bottom: 0px;
display: flex;
justify-content: center;
align-items: center ;
}


nav{
    box-sizing: content-box;
background-color: yellow;
grid-area: n;

height: 10vh;

justify-content: space-between;
width: 100%;
}


nav .container ul {
   
    list-style-type: none;
    
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
nav .container ul li{
    background-color:lightblue;

}
nav .container ul li:hover{
    background-color:lightcoral;

}
nav a{
    display:block;
    text-align: center;
    
    
    line-height: 10vh;
    color: lightcoral;
    transition: all 0.25s linear;

}

nav a:hover{
font-size: 107%;
color:lightblue;
}


section{
    grid-area: s;
    background-color:white;
    
    
    
}


section .mainPic img{
    width: 30%;
    

    
    
}

aside{
background-color: turquoise;
grid-area: a;


text-align: center;
flex-direction: column;



}
aside ul{
    
    list-style-type: none;
    
}
aside ul img{
    
    width: 80%;
    height: 80%;
    
}
footer{
    background-color: green;
    grid-area: f;
   
    flex-direction: row;
    display: flex;
    justify-content:space-between
}



.navbar {
    background-color: yellow;
   
}





section p{
    font-size: 12px;
    font-family: Tahoma;
    color: grey;
    font-weight: bold;
    margin-left: 25px;
}

.formular{
    margin: 10px;
    height:167px ;
    width:204px ;
    background-image: url("box.gif");
   
}
.obrMapa{
position: relative;
top: 115px;
left: 115px;

}
.innerForm{
    margin-left: 10px;
}
.innerForm a{
    
    font-size: 15px;
    text-decoration: none;
}
.innerForm a:hover{
    text-decoration: underline;
}
.innerForm a:link{
    color: rgb(204,0,51);

}
.innerForm a:visited{
    color:rgb(204,0,51);

}

@media screen and (max-width:550px) {

    body{
        display: block;
        height: fit-content;
    } 


}

@media screen and (max-width:660px) {
    .body{
        display: block;
        height: fit-content;
    }

}